@import './variables';
@import './typography';

@mixin button-spacing-large {
  @include button-label-large;
  height: 44px;
  padding: 12px 24px 12px 24px;
}

@mixin button-spacing-small {
  @include button-label-small;
  height: 30px;
  padding: 6px 20px 6px 20px;
}

@mixin button-round {
  height: 44px;
  width: 44px;
}

@mixin button-base {
  border: none;
  border-radius: $border-radius-large;
}

@mixin primary-button($theme) {
  @include button-base;
  background-color: map-get($theme, 'primary');
  color: white;
}

@mixin text-button($theme) {
  @include button-base;
  background-color: transparent;
  color: map-get($theme, 'primary');
  i {
    padding-right: 0.5rem;
    vertical-align: middle;
    display: inline-block;
    color: map-get($theme, 'primary');
  }
}

@mixin secondary-button($theme) {
  @include button-base;
  background-color: _tint(map-get($theme, 'secondary'), 90%);
  color: map-get($theme, 'secondary');
}

@mixin icon-button($theme) {
  @include secondary-button($theme);
  @include button-round;
  padding: 10px;
  text-align: center;
}

@mixin text-button-icon($theme) {
  @include text-button($theme);
  color: map-get($theme, 'primary');
  font-size: 18px;

  i,
  .icon {
    padding-right: 0.5rem;
    vertical-align: middle;
    display: inline-block;
    color: map-get($theme, 'primary');
  }
}

@mixin buttons-main($theme) {
  button,
  a.button {
    margin: $grid * 2;

    cursor: pointer;

    @include primary-button($theme);
    @include button-spacing-small;

    &.primary {
      @include primary-button($theme);
      &:hover {
        background: darken(map-get($theme, 'primary'), 10%);
      }
      &:active {
        background: darken(map-get($theme, 'primary'), 5%);
      }
    }
    &.secondary {
      @include secondary-button($theme);
      &:hover {
        background: darken(map-get($theme, 'secondary'), 10%);
      }
      &:active {
        background: darken(map-get($theme, 'secondary'), 5%);
      }
    }
    &.text {
      @include text-button($theme);
      &:hover {
        color: darken(map-get($theme, 'primary'), 10%);
      }
      &:active {
        color: darken(map-get($theme, 'primary'), 5%);
      }
    }

    &.large {
      @include button-spacing-large;
    }
    &.small {
      @include button-spacing-small;
    }
    &.icon-text {
      @include text-button-icon($theme);
      &:hover {
        color: darken(map-get($theme, 'dark'), 10%);
      }
      &:active {
        color: darken(map-get($theme, 'dark'), 5%);
      }
    }
    &.icon-only {
      @include icon-button($theme);
      &:hover {
        background: darken(map-get($theme, 'secondary'), 10%);
      }
      &:active {
        background: darken(map-get($theme, 'secondary'), 5%);
      }
    }
  }
}
