@import './variables';
@import './typography';

@mixin button-spacing-large {
  @include button-label-large;
  padding: 12px 36px 12px 36px;
}

@mixin button-spacing-small {
  @include button-label-small;
  padding: 6px 20px 6px 20px;
}

@mixin button-round {
  width: 44px;
  height: 44px;
}

@mixin button-base {
  border: none;
  border-radius: $border-radius-large;
  // outline: none;
}

@mixin primary-button {
  @include button-base;
  background-color: map-get($colors, 'primary');
  color: white;
}

@mixin text-button {
  @include button-base;
  background-color: transparent;
  color: map-get($colors, 'primary');
}

@mixin secondary-button {
  @include button-base;
  background-color: transparentize(map-get($colors, 'primary'), 0.9);
  color: map-get($colors, 'primary');
}

@mixin icon-button {
  @include secondary-button;
  @include button-round;
  padding: 10px;
}

@mixin primary-button-large {
  @include primary-button;
  @include button-spacing-large;
}

@mixin primary-button-small {
  @include primary-button;
  @include button-spacing-small;
}

@mixin secondary-button-large {
  @include secondary-button;
  @include button-spacing-large;
}

@mixin secondary-button-small {
  @include secondary-button;
  @include button-spacing-small;
}

@mixin text-button-large {
  @include text-button;
  @include button-spacing-large;
}

@mixin text-button-small {
  @include text-button;
  @include button-spacing-small;
}

@mixin text-button-icon {
  @include text-button;
  color: map-get($colors, 'dark');
  font-size: 18px;
  span {
    padding-right: 0.5rem;
    vertical-align: middle;
    display: inline-block;
  }
}

@mixin buttons-main {
  button {
    margin: 16px;
    &.primary {
      @include primary-button;
      &:hover {
        background: darken($meeco-red, 5%);
      }
    }
    &.secondary {
      @include secondary-button;
      &:hover {
        background-color: transparentize(map-get($colors, 'primary'), 0.85);
      }
    }
    &.text {
      @include text-button;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: darken($meeco-red, 10%);
        transform: scale(1.1);
      }
    }

    &.large {
      @include button-spacing-large;
    }
    &.small {
      @include button-spacing-small;
    }
    &.icon {
      @include text-button-icon;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
    &.icon-only {
      @include icon-button;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
