@import './variables';
@import './typography';

@mixin button-spacing-large {
  @include button-label-large;
  padding: 12px 36px 12px 36px;
}

@mixin button-spacing-small {
  @include button-label-small;
  padding: 6px 20px 6px 20px;
}

@mixin button-round {
  width: 44px;
  height: 44px;
}

@mixin button-base {
  border: none;
  border-radius: $border-radius-large;
}

@mixin primary-button($theme) {
  @include button-base;
  background-color: map-get($theme, 'primary');
  color: white;
}

@mixin text-button($theme) {
  @include button-base;
  background-color: transparent;
  color: map-get($theme, 'primary');
}

@mixin secondary-button($theme) {
  @include button-base;
  background-color: map-get($theme, 'secondary');
  color: map-get($theme, 'primary');
}

@mixin icon-button($theme) {
  @include secondary-button($theme);
  padding: 10px;
}

@mixin text-button-icon($theme) {
  @include text-button($theme);
  @include button-spacing-small;
  color: map-get($theme, 'dark');
  font-size: 18px;
  span {
    padding-right: 0.5rem;
    vertical-align: middle;
    display: inline-block;
  }
}

@mixin buttons-main($theme) {
  button {
    margin: 16px;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px transparentize(map-get($theme, 'primary'), 0.5);
    }
    &.primary {
      @include primary-button($theme);
      &:hover {
        background: darken($meeco-red, 5%);
      }
    }
    &.secondary {
      @include secondary-button($theme);
      &:hover {
        background-color: transparentize(map-get($theme, 'primary'), 0.85);
      }
    }
    &.text {
      @include text-button($theme);
      transition: all 0.2s ease-in-out;
      &:hover {
        color: darken(map-get($theme, 'primary'), 10%);
        transform: scale(1.1);
      }
    }

    &.large {
      @include button-spacing-large;
    }
    &.small {
      @include button-spacing-small;
    }
    &.icon {
      @include text-button-icon($theme);
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
    &.icon-only {
      @include icon-button($theme);
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
