@import './variables';

@mixin item-spacing($spacing: $grid) {
  > * {
    margin: 0 $spacing 0 $spacing;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin item-spacing-column($spacing: $grid) {
  > * {
    margin: $spacing 0 ($spacing / 2) 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin card($theme) {
  display: inline-flex;
  flex-direction: column;
  box-shadow: $shadow-soft;
  border-radius: $border-radius-medium;
  .content {
    display: flex;
    align-items: center;
    padding: $grid * 2;
    @include item-spacing();

    .icon {
      flex-shrink: 0;
      align-self: flex-start;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: ($grid * 1.5) ($grid * 2) ($grid * 1.5) ($grid * 2);
    border-top: 1px solid map-get($theme, 'light');
    @include item-spacing();

    > * {
      display: flex;
      align-items: center;
      @include item-spacing();
    }
  }
}

@mixin tile($theme) {
  display: inline-flex;
  align-items: center;
  box-shadow: $shadow-soft;
  border-radius: $border-radius-medium;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: ($grid * 2) ($grid * 4);
    @include item-spacing-column();
  }
}

@mixin shadows {
  &.hard {
    box-shadow: $shadow-hard;
  }
  &.dark {
    box-shadow: $shadow-dark;
  }
}

@mixin cards-main($theme) {
  * {
    box-sizing: border-box;
  }
  .card {
    @include card($theme);
    @include shadows;
  }
  .tile {
    @include tile($theme);
    @include shadows;
  }
}
