@import './variables';
@import './icons';

@mixin item-spacing($spacing: $grid) {
  > * {
    margin: 0 $spacing 0 $spacing;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin input($theme) {
  border-radius: $border-radius-standard;
  border: 1px solid map-get($theme, 'light');
  padding: 10px;
  background-color: map-get($theme, 'bgShade');
  color: map-get($theme, 'darkText');
}

@mixin text-input($theme) {
  @include input($theme);
  @include text-field-value;
}

@mixin input-label {
  @include text-field-label;
  margin-left: $grid * 2;
  margin-bottom: -$grid;
}

@mixin attachment($theme) {
  @include input($theme);
  background-color: transparent;
  border-width: 1.5px;
  display: inline-flex;
  flex-direction: column;
  width: 60%;
  padding: $grid / 2 $grid * 8 $grid / 2 $grid / 2;
  .content {
    display: flex;
    align-items: center;
    @include item-spacing();
    .icon {
      flex-shrink: 0;
      align-self: flex-start;
    }
  }
}

@mixin date-value($theme) {
  @include input($theme);
  width: 60%;
  padding-right: $grid * 8;
  background-image: url($calendar-svg);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
}

@mixin search-input {
  border-radius: $border-radius-large;
  min-width: 60%;
  max-width: fit-content;
  background-image: url($search-svg);
  background-repeat: no-repeat, repeat;
  background-position: left 0.7em top 50%, 0 0;
  text-indent: $grid * 4;
}

@mixin dropdown-input($theme) {
  @include text-input($theme);
  min-width: 210px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url($down-arrow-svg);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
}

@mixin inputs-main($theme) {
  input {
    display: block;
    @include text-input($theme);
    &:focus {
      outline-color: map-get($theme, 'highlight');
    }
    &::placeholder {
      @include body-text-medium;
      color: map-get($theme, 'placeholder');
    }
    &[type='search'] {
      @include search-input;
      &:focus {
        background-size: 5%;
        outline: none;
        border: 1.5px solid map-get($theme, 'highlight');
      }
    }
  }
  label {
    @include input-label;
    display: block;
  }
  .dropdown-input {
    margin: $grid * 2;
    @include dropdown-input($theme);
    &:focus {
      outline-color: map-get($theme, 'highlight');
    }
  }
  .attachment {
    @include attachment($theme);
  }
  .date-value {
    @include date-value($theme);
  }
}
