@import './typography';
@import './variables';

@mixin input($theme) {
  border-radius: $border-radius-standard;
  border: 1px solid map-get($theme, 'light');
  padding: 10px;
  background-color: transparentize(map-get($theme, 'light'), 0.5);
  color: map-get($theme, 'dark');
}

@mixin text-input($theme) {
  @include input($theme);
  @include text-field-value;
}

@mixin input-label {
  @include text-field-label;
  margin-left: 16px;
  margin-bottom: -8px;
}

@mixin search-input-container {
  padding: 0px 8px;
  border-radius: $border-radius-large;
  display: flex;
  align-items: center;
  max-width: 360px;
}

@mixin search-input {
  @include body-text-medium;
  width: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
}

@mixin inputs-main($theme) {
  input {
    margin: 16px;
    display: block;
    &[type='text'] {
      @include text-input($theme);
    }
    &[type='text']:focus {
      outline-color: map-get($theme, 'light');
    }
    &:placeholder {
      color: map-get($theme, 'placeholder');
    }
  }
  label {
    @include input-label;
    display: block;
  }
  div {
    &.search-bar {
      margin: 16px;
      @include search-input-container;
      input[type='search'] {
        @include search-input;
        margin: 8px;
      }
    }
  }
}
