@use 'sass:math';
@import './variables';

@mixin tag-base($theme) {
  @include tag-label;
  display: inline-block;
  padding: 6px ($grid * 2) 6px ($grid * 2);
  border-radius: $border-radius-large;
  background: _tint(map-get($theme, 'highlight'), 90%);
  color: map-get($theme, 'highlightText');
  text-align: center;
}

@mixin icon-align {
  vertical-align: middle;
  display: inline-block;
}

@mixin tag-edit($theme) {
  @include tag-base($theme);

  i,
  .icon {
    vertical-align: middle;
    display: inline-block;
    padding-left: 8px;
  }
}

@mixin tag-icon($theme) {
  @include tag-base($theme);
  i,
  .icon {
    @include icon-align;
    margin-right: math.div($grid, 2);
  }
}

@mixin tags-main($theme) {
  .tag {
    @include tag-base($theme);
  }
  .tag-edit {
    @include tag-edit($theme);
  }
  .tag-icon {
    @include tag-icon($theme);
  }
}
