@import 'variables';

@mixin font-base($theme) {
  font-family: 'Euclid Circular B', 'Euclid', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: map-get($theme, 'text');
}

@mixin headings {
  @for $i from 1 through 5 {
    h#{$i} {
      font-weight: 500;
      font-size: map-get($headings, h#{$i});
    }

    h6 {
      font-size: map-get($headings, 'h6');
      font-weight: bold;
    }
  }
}

@mixin body-text-large {
  font-size: 18px;
}

@mixin body-text-medium {
  font-size: 16px;
  line-height: 25px;
}

@mixin body-text-small {
  font-size: 14px;
}

// label-fonts

@mixin card-label {
  @include body-text-medium;
  font-weight: 500;
}

@mixin text-field-label {
  @include body-text-medium;
  line-height: 22px;
}

@mixin text-field-value {
  @include body-text-large;
  font-weight: 500;
  line-height: 24.3px;
}

@mixin button-label-large {
  @include body-text-medium;
  font-weight: 500;
  line-height: 22px;
}

@mixin button-label-small {
  @include body-text-small;
  font-weight: 500;
  line-height: 19px;
}

@mixin tag-label {
  font-size: 13px;
  font-weight: 500;
}

@mixin avatar-label-standard {
  font-size: 17px;
  font-weight: 500;
  line-height: 48px;
}

@mixin avatar-label-large {
  font-size: 30px;
  font-weight: 500;
  line-height: 80px;
}

@mixin avatar-label-small {
  font-size: 12px;
  font-weight: 500;
  line-height: 32px;
}

@mixin typography-main($theme, $nested: null) {
  @include headings;
  html {
    @include font-base($theme);
  }

  @if $nested == true {
    @include font-base($theme);
  }

  p {
    margin: 0;
    padding: 0;
  }

  .large {
    @include body-text-large;
  }
  .medium {
    @include body-text-medium;
  }
  .small {
    @include body-text-small;
  }
  .card-label,
  .tile-label {
    @include card-label;
  }
  .subtitle {
    @include body-text-small;
    color: map-get($theme, 'lightText');
  }
  label,
  .label {
    @include text-field-label;
  }
  input,
  .text-value {
    @include text-field-value;
  }
}
