@import 'functions';

// Primary Colors
$meeco-red: #e61e3d !default;
$meeco-blue: #43bfde !default;
$meeco-charcoal: #555555 !default;
$meeco-smoke: #dce1e4 !default;

// Secondary Colours
$meeco-orange: #ff6b33 !default;
$meeco-yellow: #ffcc33 !default;
$meeco-lime: #c1c928 !default;
$meeco-green: #7fc92b !default;
$meeco-mint: #14cca7 !default;
$meeco-dark-blue: #3e50d6 !default;
$meeco-purple: #883ad5 !default;
$meeco-violet: #b03fd6 !default;
$meeco-fuchsia: #db2c87 !default;
$meeco-pink: #fa3253 !default;
$meeco-ocean-blue: #00677f !default;
$meeco-forest-green: #015147 !default;

// Palettes
$meeco-red-palette: create-palette($meeco-red);
$meeco-blue-palette: create-palette($meeco-blue);
$meeco-charcoal-palette: create-palette($meeco-charcoal);
$meeco-smoke-palette: create-palette($meeco-smoke);
$meeco-orange-palette: create-palette($meeco-orange);
$meeco-yellow-palette: create-palette($meeco-yellow);
$meeco-lime-palette: create-palette($meeco-lime);
$meeco-green-palette: create-palette($meeco-green);
$meeco-mint-palette: create-palette($meeco-mint);
$meeco-dark-blue-palette: create-palette($meeco-dark-blue);
$meeco-purple-palette: create-palette($meeco-purple);
$meeco-violet-palette: create-palette($meeco-violet);
$meeco-fuchsia-palette: create-palette($meeco-fuchsia);
$meeco-pink-palette: create-palette($meeco-pink);
$meeco-ocean-blue-palette: create-palette($meeco-ocean-blue);
$meeco-forest-green-palette: create-palette($meeco-forest-green);

// Borders
$border-radius-standard: 8px !default;
$border-radius-medium: 16px !default;
$border-radius-large: 100px !default;

// Shadows
$shadow-soft: 0px 2px 8px rgba(0, 0, 0, 0.16) !default;
$shadow-hard: 0px 4px 16px rgba(0, 0, 0, 0.24) !default;
$shadow-dark: 0px 4px 16px #000000;

// Meeco UI elements use an 8px grid and conform to spacing in increments of 8px
$grid: 8px;

$meeco-theme: (
  primary: map-get($meeco-red-palette, 'base'),
  secondary: map-get($meeco-red-palette, 'tint10'),
  highlight: map-get($meeco-blue-palette, 'base'),
  placeholder: map-get($meeco-smoke-palette, 'shade'),
  dark: map-get($meeco-charcoal-palette, 'base'),
  light: map-get($meeco-smoke-palette, 'base'),
  bgShade: map-get($meeco-smoke-palette, 'tint10'),
  text: map-get($meeco-charcoal-palette, 'base'),
  lightText: map-get($meeco-charcoal-palette, 'tint50'),
  highlightText: map-get($meeco-ocean-blue-palette, 'base'),
  darkText: map-get($meeco-charcoal-palette, 'shade'),
  tabs: (
    background: transparentize(map-get($meeco-smoke-palette, 'base'), 0.5),
    foreground: white
  ),
  avatar: (
    background: map-get($meeco-blue-palette, 'tint10'),
    color: map-get($meeco-ocean-blue-palette, 'base')
  )
);

$headings: (
  h1: 50px,
  h2: 32px,
  h3: 24px,
  h4: 20px,
  h5: 18px,
  h6: 16px
);

$body-text-large: 18px;
$body-text-medium: 16px;
$body-text-small: 14px;
