*-debug.log
*-error.log
.nyc_output
packages/**/dist
packages/**/lib
packages/**/tmp
/coverage
/yarn.lock
node_modules
.npmrc
package-lock.json

# local environment
.environment.yaml
.user.yaml
/.*.yaml

# Incremental build file
tsconfig.build.tsbuildinfo