@import '../index';

:local(.story) {
  @include typography-main($meeco-theme, true);
  @include buttons-main($meeco-theme);
  @include icons-main($meeco-theme);

  height: auto;

  button.icon-text {
    color: black;
    padding: 0px;
  }

  i,
  .icon {
    font-size: 24px;
  }
}
