@import '../index';

:local(.story) {
  @include buttons-main($meeco-theme);
  @include cards-main($meeco-theme);
  @include inputs-main($meeco-theme);
  @include pills-main($meeco-theme);
  @include tags-main($meeco-theme);
  @include typography-main($meeco-theme, true);
  @include avatar-main($meeco-theme);
  @include controls-main($meeco-theme);
  @include icons-main($meeco-theme);

  // variables
  $border: 1px solid map-get($meeco-theme, 'light');

  // mixins
  @mixin icon-base {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: $border-radius-standard;
    background-color: $meeco-dark-blue;
    color: #fff;
  }
  // color add on classes
  .white {
    color: #fff;
  }
  .red {
    color: $meeco-red;
  }

  // Mobile Screen Styles
  &.mobile {
    width: 100%;
    height: auto;
    padding: $grid;
    background-color: _tint(map-get($meeco-theme, 'light'), 90%);
    border-radius: $border-radius-standard;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .column {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .component {
    background-color: #fff;
    margin: $grid * 2;
    height: fit-content;
    border-radius: $border-radius-standard;
    box-shadow: $shadow-soft;
    &.card-list {
      display: flex;
      flex-direction: column;
      width: 320px;
      padding: $grid;
      background: map-get($meeco-theme, 'bgShade');
      h4 {
        align-self: center;
      }
      .card {
        margin: $grid 0px;
        .icon {
          @include icon-base;
        }
      }
    }
    &.card-detail {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      background: transparentize(map-get($meeco-theme, 'dark'), 0.5);
      .popup {
        width: 320px;
        margin: $grid 0px 0px 0px;
        background: #fff;
        border-radius: ($grid * 3) ($grid * 3) 0px 0px;
        .header {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          padding: $grid;
          .card {
            width: 100%;
            box-shadow: none;
          }
          .icon {
            @include icon-base;
            background: $meeco-green;
          }
        }
        .popup-body {
          padding: $grid * 2;
          .item {
            margin: ($grid * 2) 0px;
          }
          .attachment,
          input,
          label {
            margin-left: 0px;
            margin-right: 0px;
            padding-right: 0px;
          }
        }
        .contact-body {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: $grid * 2;
          border-top: $border;
          .contact {
            margin: $grid;
          }
        }
      }
      .toolbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: $border;
      }
    }
    &.tile-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 320px;
      padding: $grid;
      h4 {
        margin: $grid * 2 $grid * 2;
      }
      .tile {
        padding: $grid * 2 0px;
        margin: $grid 0px;
        .icon {
          @include icon-base;
        }
        span {
          margin-top: 0px;
        }
      }
    }
    &.pillbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 320px;
      padding: $grid * 2;
      .tab {
        cursor: pointer;
      }
    }
  }

  // overriding default styles
  .avatar {
    border-color: #fff;
  }
  .avatar.small {
    border-color: #fff;
    line-height: 28px;
  }
  .avatar-stack {
    .avatar.small {
      margin-left: -1.2rem;
    }
  }

  // Webview Styles
  &.dashboard {
    display: grid;
    grid-template-columns: 0.15fr 0.3fr 0.55fr;
    width: 95vw;
    // height: 90vh;
    margin: $grid * 2;
    border: $border;
    border-radius: $border-radius-standard;
    box-shadow: $shadow-hard;
    .sidebar {
      background: map-get($meeco-theme, 'light');
      ul {
        list-style-type: none;
        li {
          margin-bottom: $grid * 2;
        }
      }
    }
    .vault {
      box-shadow: $shadow-soft;
      .tabs {
        margin: $grid * 2 $grid;
      }
      input {
        width: 90%;
        margin-left: $grid;
      }
      .card-list {
        margin: $grid * 2;
      }
    }
    .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $grid $grid * 2;
      border-bottom: $border;
      .inline {
        display: flex;
      }
      .icon-only.smoke {
        background: map-get($meeco-theme, 'light');
        color: map-get($meeco-theme, 'dark');
      }
    }
    .card {
      width: 100%;
      margin-bottom: $grid;
      &.no-shadow {
        box-shadow: none;
      }
      .icon {
        @include icon-base;
      }
    }
  }
  .subline {
    margin-left: $grid * 10;
  }

  // Kitchen sink styles
  &.sink-container {
    display: flex;
    flex-wrap: wrap;
    margin: $grid * 2;
    > div {
      margin: $grid $grid * 2;
    }
    .table-example {
      table,
      th,
      td {
        padding: $grid * 2;
        border: 1px solid map-get($meeco-theme, 'light');
        border-collapse: collapse;
        text-align: center;
      }
    }
    .body-text-example {
      width: 360px;
    }
  }
}
