@import '../index';

:local(.story) {
  @include typography-main($meeco-theme, true);
  @include inputs-main($meeco-theme);
  @include buttons-main($meeco-theme);
  @include icons-main($meeco-theme);

  max-width: 400px;

  .container {
    margin: $grid * 2;
  }

  .attachment {
    .temp-icon {
      border-radius: $border-radius-standard;
      width: 54px;
      height: 54px;
    }
  }
}
