@import '../../style-kit/main';

html,
body {
  width: 100vw;
  // max-width: 600px;
  margin: auto;
  padding-top: 40px;
  font-family: sans-serif;
  padding-bottom: 250px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $meeco-red;
  color: white;
  padding: 12px;
  font-size: 12px;
  height: 64px;
  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background-color: gray;
  color: white;
  padding: 12px;
  font-size: 12px;
  height: 64px;
  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }
  div {
    display: flex;
    align-items: center;
  }
}

// .subtitle label {
//   min-width: 6em;
//   margin-left: 2em;
// }

// .subtitle input {
//   max-width: 12em;
// }

.columns {
  display: flex;
}

div.card {
  * {
    margin: 0 0 8px 0;
  }
  display: block;
  margin: 2rem;
  padding: 2rem;
  textarea {
    width: 100%;
  }
  label {
    display: inline-block;
  }
}

#logCard {
  background: white;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 450px;
}

select {
  @extend input;
}

input[type="button"], input[type="reset"] {
  @extend button;
  width: auto;
  display: inline-block;
}

button:disabled {
  background-color: lightgray;
}
