@import '../../style-kit/main';

html,
body {
  width: 98vw;
  margin: auto;
  padding-top: 40px;
  font-family: sans-serif;
  padding-bottom: 250px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $meeco-red;
  color: white;
  padding: 12px;
  font-size: 12px;
  height: 64px;
  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }
}

.page-subtitle {
  @extend .title;
  top: 64px;
  background-color: map-get($meeco-charcoal-palette, 'tint50');
  div {
    display: flex;
    align-items: center;
  }
}

.columns {
  display: flex;
  flex-direction: row;
}

.single-column {
  margin: auto;
}

// only used on shares page
#app-main {
  padding-top: 40px;
}

div.card {
  * {
    margin: 0 0 8px 0;
  }
  display: block;
  margin: 2rem;
  padding: 1rem;
  max-width: 600px;
  textarea {
    width: 100%;
  }
  label {
    display: inline-block;
  }
  input[type="text"] {
    width: 100%;
  }
}

.content {
  div:first-child {
    flex-grow: 1;
  }
}

#logCard {
  background: white;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 450px;
}

input[type="button"], input[type="reset"] {
  @extend button;
  width: auto;
  display: inline-block;
}

input[type="checkbox"] {
  width: auto;
  margin-left: 1em;
  display: inline;
}

select {
  @extend input;
}

.pull-right {
  float: right;
}

.disabled {
  opacity: 50%;
}

button:disabled {
  background-color: $meeco-smoke;
}

.on-top {
  z-index: 1;
}

.page-footer {
  position: absolute;
  bottom: 1em;
  margin: auto;
  width: 98vw;
  * {
    text-align: center;
  }
}
