name: Release SDK

on:
  push:
    tags:
      - 'releases/sdk/**'
      - '!releases/sdk/**-beta'
      - '!releases/sdk/**-alpha'

jobs:
  create_sdk_release:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npx lerna run test --scope @meeco/sdk
        env:
          CI: true
      - run: npx lerna run build --scope @meeco/sdk
      - name: Publish NPM
        run: |
          npx lerna exec --scope @meeco/sdk -- npm config set //registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN
          npx lerna exec --scope @meeco/sdk -- npm config set scope "@meeco"
          npx lerna exec --scope @meeco/sdk -- npm publish --access public
        env:
          CI: true
          NODE_AUTH_TOKEN: ${{secrets.NPM_PUBLISH_TOKEN}}
      # This step is required as long as we are using typedoc beta which we are to support
      # library mode
      - run: cd packages/sdk && cd ../../
      - run: npm run docs
      # We use the style kit in the docs entry page
      - run: npx lerna run build --scope @meeco/style-kit
      - run: cp packages/style-kit/build/main.css docs/style-kit.css
      # Should run *before* the github pages deploy as that runs its own commit
      - name: Deploy SDK docs to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.SDK_DOCS_DEPLOY_KEY }}
          publish_dir: ./docs/js-sdk
          destination_dir: js-sdk
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          external_repository: Meeco/sdk-docs
          publish_branch: master
