@import '../main';

// Variables
$padding: 16px;
$margin: 4px;

.red {
  color: map-get($meeco-theme, 'primary');
}

@mixin align-bottom {
  @include center-align;
  justify-content: flex-end;
}

@mixin center-align {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin icon-basic {
  width: 48px;
  height: 48px;
  border-radius: $border-radius-standard;
}

// body styles
html,
body {
  @include center-align;
  background-color: map-get($meeco-theme, 'secondary');
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr auto;
  column-gap: 80px;
  margin: 16px 80px;
  .component {
    height: fit-content;
    background-color: #fff;
    border-radius: $border-radius-standard;
    box-shadow: $shadow-soft;
    &.card-list {
      @include center-align;
      padding: $padding;
    }
    &.tile-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: $padding;
    }
  }
}

// popup container

.component.card-detail {
  @include align-bottom;
  background: transparentize(map-get($meeco-theme, 'dark'), 0.5);
}
.popup {
  width: 100%;
  margin-top: $padding * 2;
  background: #fff;
  border-radius: 24px 24px 0px 0px;
  .header {
    @include center-align;
    padding: $padding / 2;
  }
  .popup-body {
    width: 320px;
    .item {
      margin: ($margin * 4) ($margin * 4);
    }
  }
  .contact-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $padding;
    border-top: 1px solid map-get($meeco-theme, 'light');
    .contact {
      margin: $margin * 2;
    }
  }
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid map-get($meeco-theme, 'light');
}

// card styles
.card {
  width: 100%;
  margin: $margin 0px;
}

.icon {
  @include icon-basic;
  background: $meeco-dark-blue;
}

// overiding default styles
.avatar.small {
  border-color: #fff;
  line-height: 28px;
  margin-left: 0px;
}

.avatar-stack {
  .avatar.small {
    margin-left: -1rem;
  }
}

.card .footer > * > * {
  margin-right: 0px;
}

.no-shadow {
  box-shadow: none;
}

p.small {
  font-weight: 300;
}

.tile {
  margin: $margin * 2 0px;
}
